:root {
  --transparent: rgba(0, 0, 0, 0);
  --bw0: #FFFFFF;
  --bw1: #CCCBCB;
  --bw2: #9E9E9E;
  --bw3: #7D7D7D;
  --bw4: #4F4F4F;
  --bw5: #222222;
  --bw6: #000000;
  --red-1: rgb(253, 242, 241);
  --red-2: rgb(240, 219, 219);
  --red-3: rgb(209, 171, 170);
  --red-4: rgb(182, 122, 120);
  --red-5: rgb(161, 76, 73);
  --red-6: rgb(123, 46, 43);
  --red-7: rgb(67, 20, 18);
  --org-1: rgb(254, 247, 243);
  --org-2: rgb(246, 234, 224);
  --org-3: rgb(225, 203, 184);
  --org-4: rgb(208, 173, 144);
  --org-5: rgb(185, 136, 96);
  --org-6: rgb(133, 90, 54);
  --org-7: rgb(69, 42, 21);
  --ylw-1: rgb(255, 252, 242);
  --ylw-2: rgb(251, 247, 227);
  --ylw-3: rgb(241, 234, 199);
  --ylw-4: rgb(233, 223, 168);
  --ylw-5: rgb(209, 195, 120);
  --ylw-6: rgb(144, 131, 66);
  --ylw-7: rgb(72, 64, 25);
  --grn-1: rgb(239, 254, 240);
  --grn-2: rgb(208, 237, 209);
  --grn-3: rgb(171, 223, 172);
  --grn-4: rgb(132, 211, 134);
  --grn-5: rgb(77, 179, 80);
  --grn-6: rgb(42, 129, 44);
  --grn-7: rgb(17, 63, 18);
  --cyn-1: rgb(239, 254, 249);
  --cyn-2: rgb(219, 248, 238);
  --cyn-3: rgb(180, 233, 215);
  --cyn-4: rgb(139, 220, 192);
  --cyn-5: rgb(88, 195, 156);
  --cyn-6: rgb(43, 132, 100);
  --cyn-7: rgb(18, 65, 48);
  --blu-1: rgb(243, 247, 254);
  --blu-2: rgb(222, 230, 244);
  --blu-3: rgb(176, 192, 218);
  --blu-4: rgb(130, 155, 194);
  --blu-5: rgb(83, 117, 174);
  --blu-6: rgb(51, 80, 131);
  --blu-7: rgb(22, 40, 71);
  --pur-1: rgb(249, 241, 254);
  --pur-2: rgb(234, 219, 243);
  --pur-3: rgb(197, 170, 214);
  --pur-4: rgb(163, 122, 189);
  --pur-5: rgb(135, 75, 170);
  --pur-6: rgb(99, 44, 129);
  --pur-7: rgb(51, 18, 70);
  --mgn-1: rgb(253, 242, 250);
  --mgn-2: rgb(241, 220, 237);
  --mgn-3: rgb(214, 175, 206);
  --mgn-4: rgb(189, 129, 175);
  --mgn-5: rgb(167, 81, 146);
  --mgn-6: rgb(126, 49, 105);
  --mgn-7: rgb(67, 20, 54);
}

