.contactform {
  z-index: 0!important;
  position: absolute;
  right: 0vw;
  margin-top: 100px!important;
  margin-left: 3vw!important;
  margin-right: 3vw!important;
  margin-bottom: 20px!important;
  background: #f5f5f5;
  border-radius: 10px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.contactcard {
  z-index: 1!important;
  position: absolute;
  left: 0vw;
  margin-top: 150px!important;
  margin-left: 3vw!important;
  margin-right: 3vw!important;
  margin-bottom: 20px!important;
  background: #f5f5f5;
  border-radius: 42px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.copybtn {
  position: relative;
}

.hvrbtn {
  transform: scale(0.97);
  transition: 500ms;
}

@media (max-width: 1200px) {
  .hvrbtn {
    transform: scale(1);
    transition: 500ms;
  }
}

.hvrbtn:hover {
  z-index: 5;
  transition: 500ms;
  transform: scale(1.03);
  background-color: #7a71bb!important;
}

