.kw-academic {
  background: linear-gradient(-25deg, rgb(54,54,54) 0%, rgb(96,96,96) 63%, rgb(194,194,194) 112%), rgba(255,255,255,0)!important;
}

.kw-commercial {
  background: linear-gradient(-25deg, rgb(0,26,64) 0%, rgb(0,79,171) 63%, rgb(255,255,255) 112%), rgba(255,255,255,0)!important;
}

.kw-public {
  background: linear-gradient(-25deg, rgb(0,64,10) 0%, rgb(44,171,0) 63%, rgb(255,255,255) 112%), rgba(255,255,255,0)!important;
}

.kw-awarded {
  background: linear-gradient(-25deg, rgb(143,60,0) 0%, rgb(255,138,0) 63%, rgb(255,215,154) 112%), #ff740f!important;
  box-shadow: 0px 0px 15px rgb(255,188,139)!important;
}

.kw-uiux {
  background: rgb(194,67,59)!important;
}

.kw-dsn, .kw-mockup {
  background: rgb(204,112,45)!important;
}

.kw-ps, .kw-ai, .kw-id {
  background: rgb(197,142,101)!important;
}

.kw-mktg {
  background: rgb(197,172,41)!important;
}

.kw-pre {
  background: rgb(105,195,50)!important;
}

.kw-pro {
  background: rgb(50,195,160)!important;
}

.kw-post {
  background: rgb(50,125,195)!important;
}

.kw-prpro, .kw-aefx, .kw-bmfusion {
  background: rgb(101,157,197)!important;
}

.kw-3d {
  background: rgb(131,50,195)!important;
}

.kw-blend {
  background: rgb(143,101,197)!important;
}

