@font-face {
	font-family: 'made_tommythin';
	src: url(/assets/fonts/made_tommy_thin_personal_use-webfont.woff2) format('woff2'),
	url(/assets/fonts/made_tommy_thin_personal_use-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}