@font-face {
	font-family: 'made_evolve_sansbold';
	src: url(../../assets/fonts/made_evolve_sans_bold_personal_use-webfont.woff2) format('woff2'),
	url(../../assets/fonts/made_evolve_sans_bold_personal_use-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}