/* FOR MOBILES OI! */

@media (max-width: 767px) {
  .sort-icons {
    width: 30px!important;
    margin-right: 12px!important;
  }
}

@media (max-width: 768px) {
  .port-keywords {
    font-size: 14px!important;
    padding-left: 12px!important;
    padding-right: 12px!important;
    padding-top: 9px!important;
    padding-bottom: 5px!important;
  }
}

@media (max-width: 768px) {
  .port-kw-col {
    margin-bottom: 13px!important;
  }
}

@media (max-width: 768px) {
  .port-kw-all {
    margin-top: 13px!important;
  }
}

@media (max-width: 768px) {
  .port-desc {
    margin-top: 0px!important;
  }
}

@media (max-width: 768px) {
  .port-btn {
    width: 100%!important;
    height: 127px!important;
    overflow: hidden!important;
    border-radius: 10px!important;
    margin-bottom: 15px!important;
  }
}

@media (max-width: 768px) {
  .col-12.col-sm-6.col-md-4.col-lg-3.item {
    padding-bottom: 15px!important;
  }
}

.backbtn {
  background: rgba(0,123,255,0)!important;
  font-family: made_evolve_sansregular!important;
  border-radius: 39px!important;
  margin-top: 30px!important;
  letter-spacing: 0.2px!important;
  border-width: 1px!important;
  border-color: rgba(143,143,143,0.43)!important;
  color: rgb(224,224,224)!important;
  margin-bottom: 25px!important;
}

.backbtn-w {
  background: rgba(0,123,255,0)!important;
  font-family: made_evolve_sansregular!important;
  border-radius: 39px!important;
  margin-top: 30px!important;
  letter-spacing: 0.2px!important;
  border-width: 1px!important;
  border-color: #8e8e8e!important;
  color: #8e8e8e!important;
  margin-bottom: 30px!important;
}

.gly {
  max-width: 100%!important;
  margin-top: 20px!important;
}

.p-title {
  font-family: made_evolve_sansbold!important;
  color: rgb(255,255,255)!important;
  font-size: 50px!important;
  margin-left: -1px!important;
  letter-spacing: 0.2px!important;
}

.p-title-w {
  font-family: made_evolve_sansbold!important;
  color: rgb(67,67,67)!important;
  font-size: 50px!important;
  margin-left: -1px!important;
  letter-spacing: 0.2px!important;
}

.p-sub {
  font-family: made_evolve_sansmedium!important;
  color: rgb(255,255,255)!important;
  font-size: 20px!important;
  font-weight: 100!important;
  margin-left: 2px!important;
  letter-spacing: 0.2px!important;
}

.p-sub-w {
  font-family: made_evolve_sansmedium!important;
  color: rgb(160,160,160)!important;
  font-size: 20px!important;
  font-weight: 100!important;
  margin-left: 2px!important;
  letter-spacing: 0.2px!important;
}

.p-tcon {
  font-family: made_evolve_sansmedium!important;
  color: rgb(255,255,255)!important;
  font-weight: 100!important;
  text-align: justify!important;
  font-size: 17px!important;
}

.p-tcon-w {
  font-family: made_evolve_sansmedium!important;
  color: #a0a0a0!important;
  font-weight: 100!important;
  text-align: justify!important;
  font-size: 17px!important;
}

.p-con {
  font-family: made_evolve_sanslight!important;
  color: rgb(255,255,255)!important;
  text-align: justify!important;
  font-size: 15px!important;
  letter-spacing: 0px!important;
}

.p-con-w {
  font-family: 'made_evolve_sansregular'!important;
  color: #434343!important;
  text-align: justify!important;
  font-size: 15px!important;
  letter-spacing: 0px!important;
}

.maindiv {
  margin-top: 85px!important;
  margin-left: 2vw!important;
  margin-right: 2vw!important;
  margin-bottom: 50px!important;
  padding-top: 5vh!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
  background: #212121!important;
  border-radius: 10px!important;
  padding-bottom: 25px!important;
  border-radius: 10px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.maindiv-paper {
  margin-top: 85px!important;
  margin-left: 2vw!important;
  margin-right: 2vw!important;
  margin-bottom: 50px!important;
  padding-top: 5vh!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
  background: #f5f5f5!important;
  border-radius: 10px!important;
  padding-bottom: 25px!important;
  border-radius: 10px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.player {
  margin-bottom: 20px!important;
}

.kw-allcol {
  margin-bottom: 8px!important;
  margin-top: 5px!important;
}

.kw-row {
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-top: 10px!important;
  padding-bottom: 3px!important;
  border-top: 1px solid #6a6a6a!important;
  border-bottom: 1px solid #6a6a6a!important;
}

.kw-row-w {
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-top: 10px!important;
  padding-bottom: 3px!important;
  border-top: 1px solid #cbcbcb!important;
  border-bottom: 1px solid #cbcbcb!important;
}

.p-body {
  background: rgb(20,20,20)!important;
}

