html {
  scroll-behavior: smooth;
}

.navbar {
  transition: background 400ms;
  background: rgba(255,0,0,0)!important;
}

.navbar.scrolled {
  transition: background 400ms;
  background: #ffffff!important;
}

a.text-dark:focus, a.text-dark:hover {
  color: #cccccc!important;
}

.nav-nuttapong {
  color: #ffffff!important;
}

.nav-link {
  color: #ffffff!important;
}

.nav-nuttapong.scrolled {
  color: #141414!important;
}

.nav-link.scrolled {
  color: #434343!important;
}

.navburger {
  filter: brightness(0%) invert(100%);
}

.navburger.scrolled {
  filter: brightness(100%) invert(0%);
}

.nav-link:hover {
  color: #cccccc!important;
}

