.sumdiv {
  margin-top: 100px!important;
  margin-left: 3vw!important;
  margin-right: 3vw!important;
  margin-bottom: 20px!important;
  padding-top: 1vh!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
  background: #f5f5f5!important;
  border-radius: 10px!important;
  padding-bottom: 25px!important;
  border-radius: 10px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.sumdiv2 {
  margin-top: 20px!important;
  margin-left: 3vw!important;
  margin-right: 3vw!important;
  margin-bottom: 20px!important;
  padding-top: 1vh!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
  background: #f5f5f5!important;
  border-radius: 10px!important;
  padding-bottom: 25px!important;
  border-radius: 10px!important;
  box-shadow: 1px 1px 5px 0px rgb(16,16,16)!important;
}

.skillitem {
  color: #404040;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: 'made_evolve_sansmedium';
  margin-right: 10px;
}

@media (max-width: 768px) {
  .skillitem {
    color: #404040;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: 'made_evolve_sansmedium';
    margin-left: 3px;
    margin-right: 10px;
  }
}

.skillicon {
  width: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 7px;
  margin-left: 10px;
  image-rendering: smooth;
}

@media (max-width: 768px) {
  .skillicon {
    width: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
    margin-left: 10px;
    image-rendering: smooth;
  }
}

@media (max-width: 767px) {
  .rounded-circle.mobileshrink {
    max-height: 200px;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .coursenames {
    /*font-family: 'made_evolve_sansbold';*/
  }
}

.proclass {
  color: rgb(64,89,88);
}

.noviceclass {
  color: rgb(155,173,172);
}

